.title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: black;
  text-shadow: 2em red;
  margin-bottom: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
